
<div id="main-wrapper" class="wrapper-hidden z-index-100">

    <section class="content-section-type-1 large-section gray-section">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h2 class="section-title text-center title-divider aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-in-out" data-aos-duration="700">  عن الموقع  <span class="highlight">.</span></h2>
                </div>
            </div>
        </div>
        <div class="container content-wrapper accordion-type-1">
            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="accordion-wrapper aos-init aos-animate" data-aos="fade-left" data-aos-delay="300" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-in-out" data-aos-duration="700">
                            <div class="accordion  active-accordion">
                                <p class="accordion-header">ما هو الموقع</p>
                                <div class="accordion-body" style="display: block;">
                                    <p style="text-align:right">هو تطبيق قائم على الزواج الإسلامي والشرعي الأول والذي قام بمساعدة الالاف المسلمين في مختلف الدول العربية والإسلامية لتحقيق زواج ناجح على مر السنوات.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion">
                                <p class="accordion-header">مهمتنا</p>
                                <div class="accordion-body" style="display: none;">
                                    <p style="text-align:right">تحقيق زواج ناجح ومستمر بأقل وقت وجهد حسب المعايير والمواصفات التي يقوم بها طالب الزواج بالبحث عنها. 
                                        لقد صمم الموقع / التطبيق بأحدث طرق البحث والحفاظ على الخصوصية والتي بحمد من الله حققت نجاحات واسعه في العديد من الدول العربية والإسلامية دون اللجوء الي أي وساطه او اطراف (الخطابات) . 
                                        نحن نضمن لكم خصوصية بياناتكم والجوده والسرعه في إختيار شريك حياتكم.
                                        
                                    </p>
                                </div>
                            </div>
                            <div class="accordion">
                                <p class="accordion-header">القيم</p>
                                <div class="accordion-body" style="display: none;">
                                    <p style="text-align:right">نعتمد في قيمنا على التعاليم الإسلامية التي شرعها الله وسنها نبيه المصطفى ، فقد حلل الله الزواج وحرم السفاح ، ونسعى جاهدين من خلال خبراتنا لتحقيق الزواج الناجح والسعادة والاستقرار النفسي وتحقيق الرؤية الواضحة لبناء أسر صالحة تطمح للبقاء وتكاثر النسل.
                                        فمن خلال موقع / تطبيق زوجني نقرب التوافق بين الطرفين فى القيم والمبادئ بطرق حديثه وشرعية غير مخالفه للتعاليم الإسلامية من خلال تبادل الآراء والحوار والنقاش عن مستقبل الطرفين او من خلال النظرة الشرعية بالطرق التقليدية.
                                        </p>
                                </div>
                            </div>
                            <div class="accordion">
                                <p class="accordion-header">رسالة الموقع</p>
                                <div class="accordion-body" style="display: none;">
                                    <p style="text-align:right">موقع / تطبيق زوجني تم تخصيصه منذ نشأته للراغبين بالزواج الشرعي وليس لعقد الصداقات والشبهات أو زواج (المتعه / المسيار / العرفي) ، حيث أننا نمانع ونحد من هذه الأفكار ونعمل جاهدين على متابعة كل يستغل خدماتنا لإغراض منافية عن سياسة الموقع / التطبيق وسيتم الإبلاغ عنه وتحويله للسلطات القضائية والقانونية.أنظر الشروط والأحكام
                                        إن ما يتم تقديمه في الموقع / تطبيق زوجني هي معلومات سطحية حقيقية للراغبين بالزواج الشرعي فقط.وتتمثل تلك المعلومات في أخذ الفكرة المبدئية دون التعمق إلى بيانات خاصة إلا برغبة صاحب الحساب حيث أن الموقع/التطبيق لايوجد له الصلاحية في إظهار أية بيانات إلا للسلطات القانونية وبمذكرة رسمية من تلك الجهه.
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <section class="counters-section-type-2 border-bottom-simple border-top-simple">
        <div class="container-fluid">
            <div class="row counters-wrapper justify-content-center">
                <div class="col-sm-4 col-6 counter-box first-side d-flex flex-column align-items-center">
                    <p class="title-counter">
                        مستخدمين الموقع
                    </p>
                    <span class="prop-obj prop-obj1"
                          data-count="512">0</span>
                </div>
                <div class="col-sm-4 col-6 counter-box second-side d-flex flex-column align-items-center">
                    <p class="title-counter">
                        مستخدمين نساء

                    </p>
                    <span class="prop-obj prop-obj2"
                          data-count="256">0</span>
                </div>
                <div class="col-sm-4 col-6 counter-box third-side d-flex flex-column align-items-center">
                    <p class="title-counter">
                        زواج ناجح
                    </p>
                    <span class="prop-obj prop-obj3"
                          data-count="105">0</span>
                </div>
            </div>
        </div>
    </section>

</div>
