<div id="main-wrapper" class="wrapper-hidden z-index-100">
    <!-- [2] Navigation-Menu -->
    <nav class="navigation navigation-type-2">
        <div class="inner-wrapper">
            <div class="navigation-wrapper">
                <div class="logotype-wrapper">
                    <a href="index-2.html">
                        <img src="assets/img/logo/cv.png"
                             alt="Logo">
                    </a>
                </div>
                <div class="right-side">
                    <div class="menu-list-wrapper">
                        <ul class="menu-list">
                            <li class="menu-item"><a href="Home.html">الصفحة الرئيسية</a></li>
                <li class="menu-item"><a href="About.html">عن الموقع</a></li>
                <li class="menu-item"><a href="Blog.html"> المدونة</a></li>
                <li class="menu-item"><a href="Contact.html">تواصل معنا</a></li>
                <li class="menu-item"><a href="Login.html">تسجيل الدخول</a></li>
                <li class="menu-item"><a href="Register.html">تسجيل جديد</a></li>

                        </ul>
                    </div>
                    <ul class="social-list">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"
                                   style="color: #3B5999;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"
                                   style="color: #1DA1F2;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"
                                   style="color: #EA4C89;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-whatsapp"
                                   style="color: #00B488;"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="search-form-toggle">
                        <i class="fa fa-search"></i> بحث
                    </div>
                </div>
            </div>
            <div class="search-form-wrapper">
                <div class="search-form">
                    <div class="form-wrapper">
                        <div class="search-form-close" id="CloseSearch" style="display: none;">
                            <i class="far fa-times-circle"></i>
                        </div>
                        <form role="search">
                            <div class="contact-form-white d-flex flex-column align-items-center element-form-left">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input type="text" placeholder="العقيدة" class="input-small whiteText">
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control">
                                                <option selected>الحالة الإجتماعية</option>
                                                <option value="1">  أعزب</option>
                                                <option value="2"> متزوج</option>
                                                <option value="3"> مطلق</option>
                                                <option value="4"> أرملة</option>
                                            </select> 
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control">
                                            <option selected >الأصل العرقي</option>
                                            <option>رقم 1</option>
                                            <option>رقم 2</option>
                                            <option> رقم 3</option>
                                            <option>  بيسر</option>
                                            <option>  غير ذلك</option>
                                        </select>  
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="text" placeholder="الإقامة الدائمة" class="input-small whiteText">
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control">
                                                <option selected >المؤهل العلمي </option>
                                                <option> دكتوراه</option>
                                                <option> ماجستير</option>
                                                <option>  بكالوريوس</option>
                                                <option>  دبلوم جامعي</option>
                                                <option>   دبلوم عام</option>
                                                <option>  ثانوية</option>
                                                <option>  إعدادية</option>
                                                <option>  غير ذلك</option>
                                            </select>  
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control">
                                            <option selected >لون البشرة</option>
                                            <option>  أبيض</option>
                                            <option>  أبيض على إحمرار</option>
                                            <option>   حنطي فاتح </option>
                                            <option>   حنطي على أسمرار</option>
                                            <option> أسمر داكن</option>
                                        </select> 
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control">
                                            <option selected >الوضع المادي</option>
                                            <option>  ضعيف</option>
                                            <option> جيد</option>
                                            <option> جيد جدا</option>
                                            <option> ممتاز</option>
                                            <option> ممتاز جدا</option>
                                            <option> لايوجد</option>
                                        </select> 
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control">
                                            <option selected >مكان السكن بعد الزواج</option>
                                            <option>  مستقل</option>
                                            <option> في ملحق</option>
                                            <option>  منزل خاص</option>
                                            <option>   مع العائلة</option>
                                            <option>  لا أمانع</option>
                                        </select> 
                                    </div>
                                    <div class="col-lg-3">
                                        <textarea style="min-height: 100px;" placeholder="مفاتيح دلالية" class="input-small whiteText"></textarea>
                                    </div>
                                    <div class="col-lg-3">
                                       <input type="number" placeholder=" العمر يتراوح مابين من" class="input-small whiteText">  
                                        <input type="number" placeholder="إلي" class="input-small whiteText">
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="number" placeholder=" الوزن  يتراوح مابين من" class="input-small whiteText">  
                                         <input type="number" placeholder="إلي" class="input-small whiteText">
                                     </div>
                                     <div class="col-lg-3">
                                        <input type="number" placeholder=" الطول يتراوح مابين من" class="input-small whiteText">  
                                         <input type="number" placeholder="إلي" class="input-small whiteText">
                                     </div>
                                </div>
                                <div class="row">
                                <button style="font-size: 16px;" class="button-submit" type="submit" >  بحث </button>
                                <button style="font-size: 16px;" class="button-submit" type="button" onclick="$('#CloseSearch').click()">  أغلاق</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navigation-mobile">
        <div class="inner-wrapper">
            <!-- Logotype -->
            <div class="logotype-wrapper">
                <a href="index-2.html">
                    <img src="assets/img/logo/cv.png"
                         alt="Logo">
                </a>
            </div>
            <div class="navigation-side">
                <div class="search-form-toggle toggle-button">
                    <i class="fa fa-search"></i>
                </div>
                <div class="menu-toggle-wrapper">
                    <div class="menu-toggle toggle-button">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-form-wrapper">
            <div class="search-form">
                <div class="form-wrapper">
                    <form role="search">
                        <input type="search" class="search-field"
                               placeholder="بحث....."
                               title="Enter some keywords...">
                        <button type="submit" class="search-submit">
                            <i class="icofont-search"></i>
                        </button>
                    </form>
                    <div class="search-form-close">
                        <i class="far fa-times-circle"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu list -->
        <div class="menu-list-wrapper" data-back-link="go back">
            <div class="menu-toggle-close">
                <i class="far fa-times-circle"></i>
            </div>
            <ul class="menu-list">
                <li class="menu-item"><a href="Home.html">الصفحة الرئيسية</a></li>
                <li class="menu-item"><a href="About.html">عن الموقع</a></li>
                <li class="menu-item"><a href="Blog.html"> المدونة</a></li>
                <li class="menu-item"><a href="Contact.html">تواصل معنا</a></li>
                <li class="menu-item"><a href="Login.html">تسجيل الدخول</a></li>
                <li class="menu-item"><a href="Register.html">تسجيل جديد</a></li>
            </ul>
        </div>
    </nav>

    <header class="page-header parallax-window bg_img dark_overlay" style="background-image: url(./img/home/s5.jpg); background-position: center;background-repeat: no-repeat;background-size: cover; ">
        <div class="container breadcrumbs-wrapper">
            <div class="breadcrumbs d-flex flex-column justify-content-center">
                <h1 class="title">تواصل معنا عبر الرسائل .</h1>
            </div>
        </div>
    </header>
    
    <section class="element-section white-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <form class="contact-form-white d-flex flex-column align-items-center element-form-right" name="myForm">
                        <input type="text" placeholder="الأسم" name="v_name" ng-model="name" class="{{myForm.v_name.$error.required && myForm.v_name.$touched ?'border-danger':''}}" required>
                        <div class="text-danger text-right validate" ng-if="myForm.v_name.$error.required && myForm.v_name.$touched">الاسم هو حقل مطلوب</div>

                        <input type="email" placeholder="البريد الألكتروني" name="v_email" ng-model="email" autocomplete="off" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' class="{{myForm.v_email.$error.required && myForm.v_email.$touched ?'border-danger':''}}" required>
                        <div class="text-danger text-right validate" ng-show="myForm.v_email.$error.pattern">بريد إلكتروني خاطئ</div>
                        <div class="text-danger text-right validate" ng-if=" myForm.v_email.$touched && myForm.v_email.$error.required">البريد الإلكترونى حقل مطلوب</div>
                        
                        <input type="tel" placeholder="رقم الهاتف" name="v_phone" ng-model="phone"  maxlength="10" ng-pattern='/^\+?\d{9}$/' class="{{myForm.v_phone.$error.required && myForm.v_phone.$touched ?'border-danger':''}}" required>
                        <div class="text-danger text-right validate" ng-if="myForm.v_phone.$touched && myForm.v_phone.$error.required">رقم الهاتف هو حقل مطلوب</div>
                        <div class="text-danger text-right validate" ng-show="myForm.v_phone.$error.pattern">الرجاء إدخال رقم مكون من 10 أرقام</div>
                        
                        <textarea placeholder="نص الرسالة"  name="v_messege" ng-model="messege" class="{{myForm.v_messege.$error.required && myForm.v_messege.$touched ?'border-danger':''}}" required></textarea>
                        <div class="text-danger text-right validate" ng-if="myForm.v_messege.$error.required && myForm.v_messege.$touched">الرسالة هو حقل مطلوب</div>

                        <div class="form-group">
                            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" style="width: 50px;">
                            <label for="vehicle1" class="text-right"> أوافق علي ما تم أرساله و أتحمل كافه المسئولية </label>
                        </div>
                        <button style="font-size: 17px;" class="button-submit" ng-click="Send()"> أرسال</button>
                    </form>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </section>

    <section class="follow-us-section large-section gray-section">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h2 class="section-title text-center title-divider aos-init" data-aos="fade-up" data-aos-delay="100" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-in-out" data-aos-duration="700">تابعتنا عبر<span class="highlight">.</span></h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="social-wrapper d-flex aos-init aos-animate" data-aos="flip-down" data-aos-delay="100" data-aos-anchor=".map-section " data-aos-easing="ease-in-out" data-aos-duration="800">
                    <a class="social-box facebook-h" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="social-box instagram-h" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="social-box twitter-h" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="social-box linkedin-h" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="social-box google-plus-h" href="#">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
