<section class="hero-header hero-default dark_overlay"
             data-section-type="slider_vertical">
        <div class="swiper-container swiper-hero">
            <div class="swiper-wrapper">
                <div class="swiper-slide bg_img"
                     style="background-image: url('./img/home/s55.jpeg')">
                    <div class="container hero-content hero-center d-flex align-items-center">
                        <div class="content-default">
                            <h2 class="display-3 content-heading bold-heading">  
                                موقع وتطبيق زوجني.. إبحث عن شريك حياتك

                                <span class="highlight">.</span>
                            </h2>
                            <p class="subtitle">

                                هو تطبيق قائم على الزواج الإسلامي والشرعي الأول والذي قام بمساعدة الالاف المسلمين في مختلف الدول العربية والإسلامية لتحقيق زواج ناجح على مر السنوات.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide bg_img"
                     style="background-image: url('./img/home/s2.jpg')">
                    <div class="container hero-content hero-center d-flex align-items-center">
                        <div class="content-default">
                            <h2 class="display-3 content-heading bold-heading">  
                                موقع وتطبيق زوجني.. إبحث عن شريك حياتك

                                <span class="highlight">.</span>
                            </h2>
                            <p class="subtitle">

                                هو تطبيق قائم على الزواج الإسلامي والشرعي الأول والذي قام بمساعدة الالاف المسلمين في مختلف الدول العربية والإسلامية لتحقيق زواج ناجح على مر السنوات.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide bg_img"
                     style="background-image: url('./img/home/s3.jpg')">
                    <div class="container hero-content hero-center d-flex align-items-center">
                        <div class="content-default">
                            <h2 class="display-3 content-heading bold-heading">  
                                موقع وتطبيق زوجني.. إبحث عن شريك حياتك

                                <span class="highlight">.</span>
                            </h2>
                            <p class="subtitle">

                                هو تطبيق قائم على الزواج الإسلامي والشرعي الأول والذي قام بمساعدة الالاف المسلمين في مختلف الدول العربية والإسلامية لتحقيق زواج ناجح على مر السنوات.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination-bullets-vertical"></div>
            <div class="swiper-button-prev-vertical"><i class="fa fa-angle-up"></i></div>
            <div class="swiper-button-next-vertical"><i class="fa fa-angle-down"></i></div>
            <div class="angle-down angle-down-vertical"
                 data-aos="zoom-in"
                 data-aos-delay="1300"
                 data-aos-anchor=".hero-header"
                 data-aos-easing="ease-in-out"
                 data-aos-duration="700">
                <p>نزول لاسفل</p>
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>

    </section>
    <!-- [4] About Section -->
    <section class="about-creative-section large-section">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h2 class="section-title text-center title-divider">عن الموقع 
                            <span class="highlight">.</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row images-wrapper">
                <div class="col-lg-3">
                    <img src="./img/home/25610902.png" style="width: 100%;"  />
                </div>
                <div class="col-lg-6">
                    <br/><br/>
                <div style="text-align: center;">               

                    <ul>
                        <li style="text-align: center;">قام موقع وتطبيق زوجني بمساعدة الالاف العازبين والعازبات المسلمين في مختلف دول العالم بالعثور على شريك حياتهم المناسب. إن موقع زوجني هو أحد المواقع الرائدة في مجال الزيجات الإسلامية والمعتمدة على النظرة الشرعية بالسنة النبوية دون اللجوء الى الخطابات.</li>
                        <li style="text-align: center;">نحن أكبر المواقع الموجودة وأكثرها ثقه على خصوصية المستخدمين حيث نوفر درجة عالية من أمان المستخدمين وفاعلية البحث عن شريك الحياه بطرق مبتكره بعكس ماتقدمه معظم المواقع الأخرى من خيارات غير مشروعه مثل زواج المتعه والمسيار والعرفي وهذا يتعارض مع سياستنا العامه والخاصه.</li>
                        <li style="text-align: center;">يوفر الموقع قاعدة بيانات لأكثر من 4 مليون مشترك راغبين بالزواج على حسب الدوله والتصنيفات.</li>
                        </ul>
                        <p style="text-align: center;">-أنظر كيف يعمل الموقع</p>

                    </div>
            </div>
            <div class="col-lg-3">
                <img src="./img/home/20489730.png" style="width: 100%;"  />
            </div>
            </div>
        </div>
    </section>

    <section class="about-creative-section large-section">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h2 class="section-title text-center title-divider">
                            لماذا زوجني

                            <span class="highlight">؟</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row images-wrapper">
             <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <br /><br />
                    <div style="text-align: center;">

                        نحن نعمل بتوفير قاعدة بيانات كبيرة بمختلف الرغبات للمقبلين على الزواج من مختلف دول الخليج بهدف تقليل حالات العنوسة والعزوبية في مجتمعنا الإسلامي
                        ولإنك جزء مهم من المجتمع فلك الحق الكامل في إختيار توأم حياتك وشريكك المناسب الذي تتمناه بدون تدخل أطراف خارجية (الخطابات).


                    </div>
                </div>
              
            </div>
        </div>
    </section>

    <section class="counters-section-type-2 border-bottom-simple border-top-simple">
        <div class="container-fluid">
            <div class="row counters-wrapper justify-content-center">
                <div class="col-sm-4 col-6 counter-box first-side d-flex flex-column align-items-center"><p
                        class="title-counter">   
                        مستخدمين الموقع 
                    </p>
                    <span class="prop-obj prop-obj1"
                          data-count="512">0</span>
                </div>
                <div class="col-sm-4 col-6 counter-box second-side d-flex flex-column align-items-center">
                    <p class="title-counter">
                        مستخدمين نساء

                    </p>
                    <span class="prop-obj prop-obj2"
                          data-count="256">0</span>
                </div>
                <div class="col-sm-4 col-6 counter-box third-side d-flex flex-column align-items-center">
                    <p class="title-counter">
                        زواج ناجح
                    </p>
                    <span class="prop-obj prop-obj3"
                          data-count="105">0</span>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section-type-2 flip-section large-section gray-section">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h2 class="section-title text-center title-divider">
                            كيف يعمل الموقع
                            <span class="highlight">.</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="flip-container">
                        <iframe width="560" height="415" src="https://www.youtube.com/embed/kBl0ywafpeA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row services-wrapper">
                        <div class="col-12 service-wrapper d-flex align-items-center">
                           
                            <div class="content-wrapper d-flex flex-column" style="text-align: right;">
                                <h6>  
                                    انشئ حساب شخصي

                                </h6>
                                <p>
                                    قم بإنشاء ملفك الشخصي بوضع البيانات الحقيقية للجدية التامه ، ولا تقلق فنحن على دراية تامة بأن معلوماتكم الشخصية كثيرة الأهمية ولن يتم إظهارها بالموقع ، أو الإفصاح بها.


                                </p>
                            </div>
                        </div>
                        <div class="col-12 service-wrapper d-flex align-items-center"  style="text-align: right;">
                            
                            <div class="content-wrapper d-flex flex-column">
                                <h6>
                                    إبحث عن شريك حياتك


                                </h6>
                                <p>
                                    قم بالبحث عن شريك حياتك من أكبر قاعدة بيانات تضم مختلف الفئات والاعدادت التفصيلية وبحسب رغباتكم.



                                </p>
                            </div>

                        </div>
                        <div class="col-12 service-wrapper d-flex align-items-center"  style="text-align: right;">
                            
                            <div class="content-wrapper d-flex flex-column">
                                <h6>
                                    خذ نبذه عن شريك حياتك

                                </h6>
                                <p>
                                    قم بقراءة بيانات شريك حياتك والتي تعطيك لمحة عن القيم والأفكار الاجتماعية المشتركة بينكما ، وإبدأ الحديث معه للتعرف عليه عن قرب قبل إتخاذ الخطوة النهائية.


                                </p>
                            </div>
                        </div>
                        <div class="col-12 service-wrapper d-flex align-items-center" style="text-align: right;">

                            <div class="content-wrapper d-flex flex-column">
                                <h6>
                                    النظرة الشرعية

                                </h6>
                                <p>
                                    قم بطلب موعد النظرة الشرعية من شريك حياتك حيث تسهل أنظمتنا تحديد الموقع واليوم والوقت المناسب للطرفين.


                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [10] Recent Projects -->