<div id="main-wrapper" class="wrapper-hidden z-index-100">
    <!-- [2] Navigation-Menu -->
    <nav class="navigation navigation-type-2">
        <div class="inner-wrapper">
            <div class="navigation-wrapper">
                <div class="logotype-wrapper">
                    <a href="#!/app/#!/app/">
                        <img src="./img/logo/cv.png"
                             alt="Logo">
                    </a>
                </div>
                <div class="right-side">
                    <div class="menu-list-wrapper">
                        <ul class="menu-list">
                <li class="menu-item"><a href="#!/app/home">الصفحة الرئيسية</a></li>
                <li class="menu-item"><a href="#!/app/About">عن الموقع</a></li>
                <li class="menu-item"><a href="#!/app/Blog"> المدونة</a></li>
                <li class="menu-item"><a href="#!/app/Contact">تواصل معنا</a></li>
                <li class="menu-item"><a href="#!/app/Login" ng-show="!logined">تسجيل الدخول</a></li>
                <li class="menu-item"><a href="#!/app/Register" ng-show="!logined">تسجيل جديد</a></li>
                <li class="menu-item"><a ng-show="logined" href="#!/app/Profile">الملف الشخصي</a></li>
                <li class="menu-item"><a ng-show="logined" class="btn-danger" ng-click="logout()">تسجيل خروج</a></li>

                        </ul>
                    </div>
                    <ul class="social-list">
                        <li>
                            <a href="{{ facebook }}" target="_blank">
                                <i class="fab fa-facebook-f"
                                   style="color: #3B5999;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"
                                   style="color: #1DA1F2;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"
                                   style="color: #EA4C89;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-whatsapp"
                                   style="color: #00B488;"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="search-form-toggle">
                        <i class="fa fa-search"></i> بحث
                    </div>
                </div>
            </div>
            <div class="search-form-wrapper">
                <div class="search-form">
                    <div class="form-wrapper">
                        <div class="search-form-close" id="CloseSearch" style="display: none;">
                            <i class="far fa-times-circle"></i>
                        </div>
                        <form role="search">
                            <div class="contact-form-white d-flex flex-column align-items-center element-form-left">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input type="text" placeholder="العقيدة" class="input-small whiteText">
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control">
                                                <option selected>الحالة الإجتماعية</option>
                                                <option value="1">  أعزب</option>
                                                <option value="2"> متزوج</option>
                                                <option value="3"> مطلق</option>
                                                <option value="4"> أرملة</option>
                                            </select> 
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control">
                                            <option selected >الأصل العرقي</option>
                                            <option>رقم 1</option>
                                            <option>رقم 2</option>
                                            <option> رقم 3</option>
                                            <option>  بيسر</option>
                                            <option>  غير ذلك</option>
                                        </select>  
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="text" placeholder="الإقامة الدائمة" class="input-small whiteText">
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control">
                                                <option selected >المؤهل العلمي </option>
                                                <option> دكتوراه</option>
                                                <option> ماجستير</option>
                                                <option>  بكالوريوس</option>
                                                <option>  دبلوم جامعي</option>
                                                <option>   دبلوم عام</option>
                                                <option>  ثانوية</option>
                                                <option>  إعدادية</option>
                                                <option>  غير ذلك</option>
                                            </select>  
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control">
                                            <option selected >لون البشرة</option>
                                            <option>  أبيض</option>
                                            <option>  أبيض على إحمرار</option>
                                            <option>   حنطي فاتح </option>
                                            <option>   حنطي على أسمرار</option>
                                            <option> أسمر داكن</option>
                                        </select> 
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control">
                                            <option selected >الوضع المادي</option>
                                            <option>  ضعيف</option>
                                            <option> جيد</option>
                                            <option> جيد جدا</option>
                                            <option> ممتاز</option>
                                            <option> ممتاز جدا</option>
                                            <option> لايوجد</option>
                                        </select> 
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control">
                                            <option selected >مكان السكن بعد الزواج</option>
                                            <option>  مستقل</option>
                                            <option> في ملحق</option>
                                            <option>  منزل خاص</option>
                                            <option>   مع العائلة</option>
                                            <option>  لا أمانع</option>
                                        </select> 
                                    </div>
                                    <div class="col-lg-3">
                                        <textarea style="min-height: 100px;" placeholder="مفاتيح دلالية" class="input-small whiteText"></textarea>
                                    </div>
                                    <div class="col-lg-3">
                                       <input type="number" placeholder=" العمر يتراوح مابين من" class="input-small whiteText">  
                                        <input type="number" placeholder="إلي" class="input-small whiteText">
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="number" placeholder=" الوزن  يتراوح مابين من" class="input-small whiteText">  
                                         <input type="number" placeholder="إلي" class="input-small whiteText">
                                     </div>
                                     <div class="col-lg-3">
                                        <input type="number" placeholder=" الطول يتراوح مابين من" class="input-small whiteText">  
                                         <input type="number" placeholder="إلي" class="input-small whiteText">
                                     </div>
                                </div>
                                <div class="row">
                                <button style="font-size: 16px;" class="button-submit" type="submit" >  بحث </button>
                                <button style="font-size: 16px;" class="button-submit" type="button" onclick="$('#CloseSearch').click()">  أغلاق</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navigation-mobile">
        <div class="inner-wrapper">
            <!-- Logotype -->
            <div class="logotype-wrapper">
                <a href="index-2">
                    <img src="./img/logo/cv.png"
                         alt="Logo">
                </a>
            </div>
            <div class="navigation-side">
                <div class="search-form-toggle toggle-button">
                    <i class="fa fa-search"></i>
                </div>
                <div class="menu-toggle-wrapper">
                    <div class="menu-toggle toggle-button">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-form-wrapper">
            <div class="search-form">
                <div class="form-wrapper">
                    <form role="search">
                        <input type="search" class="search-field"
                               placeholder="بحث....."
                               title="Enter some keywords...">
                        <button type="submit" class="search-submit">
                            <i class="icofont-search"></i>
                        </button>
                    </form>
                    <div class="search-form-close">
                        <i class="far fa-times-circle"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu list -->
        <div class="menu-list-wrapper" data-back-link="go back">
            <div class="menu-toggle-close">
                <i class="far fa-times-circle"></i>
            </div>
            <ul class="menu-list">
                <li class="menu-item"><a href="#!/app/Home">الصفحة الرئيسية</a></li>
                <li class="menu-item"><a href="#!/app/About">عن الموقع</a></li>
                <li class="menu-item"><a href="#!/app/Blog"> المدونة</a></li>
                <li class="menu-item"><a href="#!/app/Contact">تواصل معنا</a></li>
                <li class="menu-item"><a href="#!/app/Login" >تسجيل الدخول</a></li>
                <li class="menu-item"><a href="#!/app/Register" >تسجيل جديد</a></li>
            </ul>
        </div>
    </nav>
    <!-- [3] Hero-Header -->
<div ui-view="sub" class="container-fluid" ng-click="decollapse()" style="padding-right: 0;padding-left: 0;"></div>

 <!-- [13] Footer -->
 <footer>
    <div class="container-fluid footer-inner">
        <div class="footer-body">
            <div class="container">
                <div class="footer-sidebar">
                    <div class="row">
                        <div class="col-lg-10" style="text-align: center;">
                            <div class="sidebar-widget text-widget">
                                <h6 class="sidebar-title">
                                    <img src="img/logo/cv.png" style="max-width: 200px;">
                                    <br>
                                    للزواج الشرعي الإسلامي وليس للتعارف و عقد الصداقات

                                </h6>
                            </div>
                        </div>
                        <div class="col-lg-2" style="text-align: center;">
                            <a href="#!/app/TermsAndConditions" ng-click="goUp()">شروط و أحكام الموقع</a>
                        <br>
                        <a href="Roles.html" >حقوق الملكية الفكرية                            </a>
                        <br>

                        <a href="Roles.html">سياسة الخصوصية                            </a>
                        <br>

                        <a href="Roles.html">سياسة الدفع وإسترجاع المبالغ                            </a>
                        <br>

                        <a href="Roles.html" >مقترحات وشكاوي                            </a>
                        </div>
                    </div>
                </div>
                <div class="copyright-wrapper">
                    <p class="copyright" style="text-align: center;"><i class="fa fa-copyright"></i>

                        All Rights Reserved For BRLNT.Bisness 2020

                        
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</footer>