
<div id="main-wrapper" class="wrapper-hidden z-index-100">
   
    
    <section class="about-creative-section large-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <br /><br />
                    <h4 style="text-align:center">نتائج البحث ( {{ SearchResult !== 0 ? SearchResult.length : SearchResult  }} )</h4>
                    <br />
                    <div class="row">

                        <div ng-show="SearchResult !== 0" ng-repeat="result in SearchResult" class="col-lg-3 col-md-6 col-sm-6 col-6" style="padding: 0 0 0 0;">
                            <div class="card" style="width:100%;">
                                <img class="card-img-bottom" src="./img/img_avatar3.png" alt="Card image" style="width:100%;height:100px;">
                                <div class="card-body">
                                    <h6 class="card-title" style="text-align:center">الرمز التعريفي : {{ result.id }}</h6>
                                    <p class="card-text" style="text-align:center">المدينة : {{ result.city }}</p>
                                </div>
                                <div class="card-footer" style="text-align:center">
                                    <a  class="btn btn-primary" title="مشاهدة البروفيل"><i class="fas fa-tv"></i></a>
                                    <a  class="btn btn-danger" title="حظر"><i class="fas fa-ban"></i></a>
                                    <a  class="btn btn-success" title="محادثة"><i class="fas fa-comments"></i></a>
                                    <a  class="btn btn-secondary" title="نظرة شرعية"><i class="fas fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                       
                        <div ng-show="SearchResult == 0" class="alert no-result">
                            <p> <i class="far fa-times-circle"></i>  لا توجد بيانات متطابقة</p>
                        </div>
                    
                    </div>
                    <br />
                    <nav aria-label="Page navigation example" ng-show="SearchResult !== 0">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link"  aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" >1</a></li>
                            <li class="page-item"><a class="page-link" >2</a></li>
                            <li class="page-item"><a class="page-link" >3</a></li>
                            <li class="page-item"><a class="page-link" >4</a></li>
                            <li class="page-item">
                                <a class="page-link"  aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

</div>
