
<div id="main-wrapper" class="wrapper-hidden z-index-100">

    <section class="content-section-type-1 large-section gray-section">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h2 class="section-title text-center title-divider aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-in-out" data-aos-duration="700">  الشروط والأحكام   <span class="highlight">.</span></h2>
                </div>
            </div>
        </div>
        <div class="container content-wrapper accordion-type-1">
            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="accordion-wrapper aos-init aos-animate" data-aos="fade-left" data-aos-delay="300" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-in-out" data-aos-duration="700">
                            
                            <div class="accordion active-accordion">
                                <p class="accordion-header"> 1)	مقدمة </p>
                                <div class="accordion-body" style="display: block;">
                                    <p style="text-align:right"> 1.1.	يرجى قراءة هذه الشروط والأحكام ("الشروط") إلى جانب سياسة الخصوصية وكافة السياسات الأخرى بعناية تامة لأنها تشكل الاتفاق بينك ("أنت"، "المستخدم") وبين موقع زوجني (يُشار إليه لاحقاً بـ "الموقع"، "زوجني"، "نحن"، "لنا" ، "التطبيق") بمجرد الوصول إلى أو تسجيل حساب أو استخدام أي جزء من الموقع، وإذا كنت لا توافق على جميع بنود هذه الشروط والسياسات وأي تعديلات تطرأ عليها، فيرجى عدم الوصول إلى خدماتنا. والعكس صحيح.</p>
                                    <hr>
                                    <p style="text-align: right">1.2.	تعد هذه الاتفاقية عقداً صحيحاً مكتملة الشروط والأركان القانونية، نافذاً في مواجهة جميع الأطراف المذكورة، وأحكامه والتزاماته ملزمة لهم جميعاً، ولا يجوز لأحد التحلل منها أو إنهائها طالما أنتجت آثارها القانونية.</p>
                                    <hr>
                                    <p style="text-align: right;">1.3.	نحن نحتفظ بالحق وفقاً لتقديرنا الخاص بتعديل أو تغيير هذه الشروط والأحكام أينما وجدت، ورفض أو تقييد وصول أي مستخدم إلى الموقع والخدمات، وإيقاف حسابات المستخدمين المخالفين ، وتعديل أو حجب الموقع (بشكل مؤقت أو دائم) دون إشعار مسبق.</p>
                                </div>
                            </div>

                            <div class="accordion">
                                <p class="accordion-header">2)	قبول الاتفاقية</p>
                                <div class="accordion-body text-right" style="display: none;">
                                    <p>يُشكل وصولك واستخدامك لموقع زوجني القبول التام والموافقة الصريحة على الالتزام بالشروط والأحكام المنصوص عليها في هذه الاتفاقية. نحن نحتفظ بالحق ووفقاً لتقديرنا الخاص بتحديث أو تغيير أو تعديل أي جزء من هذه الاتفاقية، ويتعين عليك الاطلاع المستمر على هذه الشروط وبصفة دورية للتحقق من إجراء أي تغييرات عليها. ويعتبر استمرارك في استخدام الخدمات موافقة صريحة منك على قبول الشروط المُطبقة في وقت استخدامك للموقع والخدمات المتاحه.</p>
                                </div>
                            </div>

                            <div class="accordion">
                                <p class="accordion-header">3)	الوصول إلى الخدمات</p>
                                <div class="accordion-body  text-right" style="display: none;">
                                    <p>3.1.	يسعى موقع زوجني لإتاحة الموقع أو الخدمات على مدار الساعة، وتستعين في سبيل ذلك بكافة الأدوات والمعدات والأجهزة والبرامج وسبل الحماية اللازمة لتوفير تلك الخدمات، إلى جانب اتخاذ الإجراءات القانونية اللازمة. لذا أنت توافق على أن موقع زوجني لا يضمن توافر الخدمات في جميع الأوقات فقد يحدث تأخير أو أعطال ترجع إلى خلل ما في الشبكة العالمية "شبكة الإنترنت" أو في الخوادم "الأجهزة التي يعمل عليها الموقع"، كما لا نضمن عمل الموقع بشكل جيد على أجهزة المستخدم لتعدد أنواع الأجهزة وخصائصها التكنولوجية وبالتالي لا نتحمل أي مسؤولية عن كل ذلك. </p>
                                    <hr>
                                    <p>3.2.	يتحمل المستخدم مسؤولية الحصول على جميع الأجهزة الخاصة والبرمجيات والمعدات الأخرى اللازمة للوصول إلى واستخدام الموقع وجميع النفقات المتعلقة بذلك، بما في ذلك رسوم الاتصال بالإنترنت، وأن يستخدم سُبل الحماية اللازمة والاستعانة بالبرامج المضادة للبرمجيات الضارة والتي تشكل ثغرات أمنية "الفايروسات"، وبالتالي لا يتحمل موقع زوجني أي مسؤولية عن الأضرار التي تلحق بالمستخدم الناتجة عن دخوله واستخدامه للموقع.</p>                                    
                                    <hr>
                                    <p>3.3.	أنت توافق على الامتثال لأي وجميع الإرشادات والإشعارات وقواعد وسياسات التشغيل والتعليمات المتعلقة باستخدام الخدمات /أو الوصول إليها عبر الموقع، ونحتفظ بالحق في مراجعتها في أي وقت، وتعتبر على علم بأي تغييرات على ما سبق عند نشرها على الموقع.</p>
                                </div>
                            </div>

                            <div class="accordion">
                                <p class="accordion-header">4)	النطاق القانوني للخدمات</p>
                                <div class="accordion-body text-right" style="display: none;">
                                    <p>4.1.	زوجني هو موقع إلكتروني تملكه وتديره برلنت للأعمال ، عبارة عن منصة إلكترونية تجمع بين راغبي الزواج الشرعي (يشير إليه "شركاء الحياة/أو شريك الحياة") ويستهدف فئة الشباب والشابات المقبلين على الزواج وأيضاً راغبي التعدد والأرامل والمطلقات.</p>
                                    <hr>
                                    <p>4.2.	يتيح موقع زوجني للمستخدمين الزواج الشرعي فقط وفقاً للأعراف والشريعة الاسلامية، فيمنع الموقع الطرق التالية (زواج المتعة – الزواج العرفي – زواج المسيار) كما يمنع الصداقات والتعارف الغير شرعي.</p>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <section class="counters-section-type-2 border-bottom-simple border-top-simple">
        <div class="container-fluid">
            <div class="row counters-wrapper justify-content-center">
                <div class="col-sm-4 col-6 counter-box first-side d-flex flex-column align-items-center">
                    <p class="title-counter">
                        مستخدمين الموقع
                    </p>
                    <span class="prop-obj prop-obj1"
                          data-count="512">0</span>
                </div>
                <div class="col-sm-4 col-6 counter-box second-side d-flex flex-column align-items-center">
                    <p class="title-counter">
                        مستخدمين نساء

                    </p>
                    <span class="prop-obj prop-obj2"
                          data-count="256">0</span>
                </div>
                <div class="col-sm-4 col-6 counter-box third-side d-flex flex-column align-items-center">
                    <p class="title-counter">
                        زواج ناجح
                    </p>
                    <span class="prop-obj prop-obj3"
                          data-count="105">0</span>
                </div>
            </div>
        </div>
    </section>

</div>
